body {
  font-family: sans-serif;
  padding: 0 20px;
}

p {
  line-height: 1.5em;
}

.date {
  color: lightseagreen;
}

.post {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 15px;
}